{
  "openapi": "3.0.3",
  "info": {
    "title": "pymo Gateway API - superficie soportada",
    "version": "1.0.0",
    "description": "API del gateway de facturación electrónica (CFE) de pymo. Los métodos y las rutas salen del código del servicio, así que la referencia refleja lo que la API hace hoy.\n\n**Esta copia está filtrada a la superficie soportada por la skill `gateway`: 49 operaciones.** Un endpoint que no esté acá no es parte de la integración soportada, aunque exista en el gateway."
  },
  "servers": [
    {
      "url": "https://gatewaytest.pymo.uy",
      "description": "Homologación: emite contra la ePrueba de DGI. Es donde se integra."
    },
    {
      "url": "https://gateway.pymo.uy",
      "description": "Producción: los comprobantes son fiscales y no se pueden borrar."
    }
  ],
  "security": [
    {
      "sessionCookie": []
    }
  ],
  "tags": [
    {
      "name": "1 Autenticación"
    },
    {
      "name": "2 Configuración"
    },
    {
      "name": "3 Emisión"
    },
    {
      "name": "4 Estado"
    },
    {
      "name": "5 Recepción"
    },
    {
      "name": "6 Referencia"
    },
    {
      "name": "7 Servicios DGI"
    },
    {
      "name": "8 Público/webhook"
    }
  ],
  "paths": {
    "/v1/login": {
      "post": {
        "operationId": "post_v1_login",
        "summary": "Iniciar sesión",
        "description": "**Inicia la sesión y setea la cookie connect.sid que necesitan todas las demás llamadas.**\n\n**Acceso:** pública. No requiere sesión.",
        "tags": [
          "1 Autenticación"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email de sesión",
                    "example": "usuario@tuempresa.com",
                    "default": "usuario@tuempresa.com"
                  },
                  "password": {
                    "type": "string",
                    "description": "Contraseña de sesión",
                    "example": "tu-contraseña",
                    "default": "tu-contraseña"
                  }
                },
                "required": [
                  "email",
                  "password"
                ]
              },
              "example": {
                "email": "usuario@tuempresa.com",
                "password": "tu-contraseña"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "email": "e@e.com"
                      },
                      "message": {
                        "code": "LOGGED_IN",
                        "value": "Sessión iniciada correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [],
        "x-acceso": "publica"
      }
    },
    "/v1/logout": {
      "post": {
        "operationId": "post_v1_logout",
        "summary": "Cerrar sesión",
        "description": "**Cierra la sesión.**\n\n**Acceso:** restringida. Requiere sesión.",
        "tags": [
          "1 Autenticación"
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "LOGGED_OUT",
                        "value": "Sessión cerrada correctamente"
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error al listar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Error_al_listar": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida"
      }
    },
    "/v1/companies/{companyRut}/password": {
      "put": {
        "operationId": "put_v1_companies_companyRut_password",
        "summary": "Cambiar la contraseña de la empresa",
        "description": "**Cambia la contraseña de la cuenta.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "1 Autenticación"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "password1": "somePass",
                        "password2": "somePass"
                      },
                      "message": {
                        "code": "PASSWORD_UPDATED",
                        "value": "Contraseña actualizada correctamente"
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error al listar",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Error_al_listar": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/certs": {
      "post": {
        "operationId": "post_v1_companies_companyRut_certs",
        "summary": "Subir un certificado de firma",
        "description": "**Sube el certificado de firma. Requisito duro: sin certificado no hay emisión.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "srcAlias": {
                    "type": "string",
                    "description": "Alias de la clave dentro del archivo pk12"
                  },
                  "srcStorePass": {
                    "type": "string",
                    "description": "Contraseña de la clave dentro del archivo pk12"
                  },
                  "pk12": {
                    "type": "string",
                    "description": "Archivo pk12 con el certificado de alias srcAlias y contraseña srcStorePass"
                  }
                },
                "required": [
                  "srcAlias",
                  "srcStorePass",
                  "pk12"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "cert": {
                          "__v": 0,
                          "updatedAt": "2017-12-26T21:35:18.714Z",
                          "createdAt": "2017-12-26T21:35:18.714Z",
                          "alias": "219999990008:1514324113898",
                          "initDate": "2017-12-26T21:35:18.692Z",
                          "expireDate": "2030-01-01T00:00:00.000Z",
                          "company": "5a3d849be1fb0d35e5c0d691",
                          "_id": "5a42c096c8eb127683ae33b0",
                          "deleted": false,
                          "isActive": true,
                          "url": "/companies/5a3d849be1fb0d35e5c0d691/certs/5a42c096c8eb127683ae33b0",
                          "id": "5a42c096c8eb127683ae33b0"
                        }
                      },
                      "message": {
                        "code": "COMPANY_CERT_CREATED",
                        "value": "Nuevo certificado ingresado correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      },
      "get": {
        "operationId": "get_v1_companies_companyRut_certs",
        "summary": "Listar los certificados de la empresa",
        "description": "**Lee los certificados cargados y su vigencia.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaCertificados"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "certs": []
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/certs/{certAlias}": {
      "get": {
        "operationId": "get_v1_companies_companyRut_certs_certAlias",
        "summary": "Obtener un certificado por alias",
        "description": "**Lee un certificado.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "name": "certAlias",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "cert": {}
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/certFile": {
      "get": {
        "operationId": "get_v1_companies_companyRut_certFile",
        "summary": "Descargar el archivo del certificado activo",
        "description": "**Descarga el archivo del certificado.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nDescarga el archivo del certificado activo de la empresa, en PEM. Devuelve el archivo, no JSON: no acepta filtros.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "El certificado activo de la empresa, en PEM.",
            "content": {
              "application/x-pem-file": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/cfesActiveNumbers/{code}/upload-xml": {
      "post": {
        "operationId": "post_v1_companies_companyRut_cfesActiveNumbers_code_upload-xml",
        "summary": "Cargar una autorización CAE de DGI",
        "description": "**Carga una autorización CAE de DGI. Requisito por tipo de documento antes de emitirlo.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "CfesNewNumbers": {
                    "type": "string",
                    "description": "Archivo con los CAE por tipo de CFE"
                  }
                },
                "required": [
                  "CfesNewNumbers"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "newCae": {
                          "series": "A",
                          "first": 2221321,
                          "last": 2222320
                        }
                      },
                      "message": {
                        "code": "CAE_ADD_SUCCESS",
                        "value": "El CAE fue ingresado correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/cfesActiveNumbers": {
      "get": {
        "operationId": "get_v1_companies_companyRut_cfesActiveNumbers",
        "summary": "Listar la numeración CAE autorizada",
        "description": "**Lista la numeración CAE autorizada disponible para emitir.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaCaes"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "companyCfesActiveNumbers": [
                          {
                            "_id": "5a3d84d6e1fb0d35e5c0d697",
                            "type": "5a3d84a4e1fb0d35e5c0d694",
                            "company": "5a3d849be1fb0d35e5c0d691",
                            "expireDate": "2030-01-01T00:00:00.000Z",
                            "beginDate": "2017-08-24T00:00:00.000Z",
                            "series": "A",
                            "numAuth": 123123123,
                            "__v": 0,
                            "deleted": false,
                            "active": true,
                            "rejectedNums": [],
                            "nextNum": 5,
                            "range": {
                              "first": 1,
                              "last": 1000
                            },
                            "createdAt": "2017-12-22T22:19:02.598Z",
                            "url": "/CompanyCfesActiveNumbers/5a3d84d6e1fb0d35e5c0d697",
                            "id": "5a3d84d6e1fb0d35e5c0d697"
                          }
                        ]
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v2/companies/{companyRut}/cfesActiveNumbers": {
      "get": {
        "operationId": "get_v2_companies_companyRut_cfesActiveNumbers",
        "summary": "Listar la numeración CAE autorizada (v2, con número de autorización)",
        "description": "**Lista la numeración CAE autorizada disponible para emitir.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaCaes"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "companyCfesActiveNumbers": [
                          {
                            "_id": "5a3d84d6e1fb0d35e5c0d697",
                            "type": "5a3d84a4e1fb0d35e5c0d694",
                            "company": "5a3d849be1fb0d35e5c0d691",
                            "expireDate": "2030-01-01T00:00:00.000Z",
                            "beginDate": "2017-08-24T00:00:00.000Z",
                            "series": "A",
                            "numAuth": 123123123,
                            "__v": 0,
                            "deleted": false,
                            "active": true,
                            "rejectedNums": [],
                            "nextNum": 5,
                            "range": {
                              "first": 1,
                              "last": 1000
                            },
                            "createdAt": "2017-12-22T22:19:02.598Z",
                            "url": "/CompanyCfesActiveNumbers/5a3d84d6e1fb0d35e5c0d697",
                            "id": "5a3d84d6e1fb0d35e5c0d697"
                          }
                        ]
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/cfesActiveNumbers/{code}": {
      "get": {
        "operationId": "get_v1_companies_companyRut_cfesActiveNumbers_code",
        "summary": "Obtener la numeración CAE de un tipo de CFE",
        "description": "**Numeración CAE de un tipo de CFE.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "companyCfesActiveNumbers": {
                          "_id": "5a3d84d6e1fb0d35e5c0d697",
                          "type": "5a3d84a4e1fb0d35e5c0d694",
                          "company": "5a3d849be1fb0d35e5c0d691",
                          "expireDate": "2030-01-01T00:00:00.000Z",
                          "beginDate": "2017-08-24T00:00:00.000Z",
                          "series": "A",
                          "numAuth": 123123123,
                          "__v": 0,
                          "deleted": false,
                          "active": true,
                          "rejectedNums": [],
                          "nextNum": 5,
                          "range": {
                            "first": 1,
                            "last": 1000
                          },
                          "createdAt": "2017-12-22T22:19:02.598Z",
                          "url": "/CompanyCfesActiveNumbers/5a3d84d6e1fb0d35e5c0d697",
                          "id": "5a3d84d6e1fb0d35e5c0d697"
                        }
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v2/companies/{companyRut}/cfesActiveNumbers/{code}": {
      "get": {
        "operationId": "get_v2_companies_companyRut_cfesActiveNumbers_code",
        "summary": "Obtener la numeración CAE de un tipo de CFE (v2)",
        "description": "**Numeración CAE de un tipo de CFE.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "$ref": "#/components/parameters/Code"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "companyCfesActiveNumbers": {
                          "_id": "5a3d84d6e1fb0d35e5c0d697",
                          "type": "5a3d84a4e1fb0d35e5c0d694",
                          "company": "5a3d849be1fb0d35e5c0d691",
                          "expireDate": "2030-01-01T00:00:00.000Z",
                          "beginDate": "2017-08-24T00:00:00.000Z",
                          "series": "A",
                          "numAuth": 123123123,
                          "__v": 0,
                          "deleted": false,
                          "active": true,
                          "rejectedNums": [],
                          "nextNum": 5,
                          "range": {
                            "first": 1,
                            "last": 1000
                          },
                          "createdAt": "2017-12-22T22:19:02.598Z",
                          "url": "/CompanyCfesActiveNumbers/5a3d84d6e1fb0d35e5c0d697",
                          "id": "5a3d84d6e1fb0d35e5c0d697"
                        }
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/updateCaesBy": {
      "patch": {
        "operationId": "patch_v1_companies_companyRut_updateCaesBy",
        "summary": "Activar o desactivar CAEs por filtro",
        "description": "**Activa o desactiva CAEs por filtro.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para elegir qué CAEs actualizar.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActualizacionCaes"
              },
              "example": {
                "active": false,
                "cancelAtDGIAt": "2026-12-31T00:00:00.000Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}": {
      "get": {
        "operationId": "get_v1_companies_companyRut",
        "summary": "Obtener los datos de la empresa",
        "description": "**Lee los datos y la configuración de la empresa.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "company": {
                          "_id": "5a3d849be1fb0d35e5c0d691",
                          "updatedAt": "2017-12-22T22:24:55.826Z",
                          "createdAt": "2017-12-22T22:18:03.190Z",
                          "rut": "219999990008",
                          "socialPurpose": "CompanySocialPurpose",
                          "resolutionNumber": "3652/2018",
                          "email": "motion@soft.com",
                          "__v": 0,
                          "deleted": false,
                          "nextReporteIdEmitedMsg": {
                            "usedDay": "2017-12-22T22:18:03.178Z",
                            "num": "0"
                          },
                          "nextCfeIdEmitedMsg": 6,
                          "branchOffices": [
                            {
                              "email": "motion@soft.com",
                              "name": "Branch office name",
                              "number": "1",
                              "fiscalAddress": "Company address",
                              "city": "Cerro Largo",
                              "state": "Mozambique",
                              "callbackNotificationUrl": "http://someurl.com/",
                              "_id": "5a3d849be1fb0d35e5c0d692"
                            }
                          ],
                          "cfePrintSpecs": {
                            "size": 22,
                            "margin": 3,
                            "imageType": "pdf"
                          },
                          "url": "/companies/219999990008",
                          "id": "5a3d849be1fb0d35e5c0d691"
                        }
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/logo": {
      "get": {
        "operationId": "get_v1_companies_companyRut_logo",
        "summary": "Obtener el logo de la empresa",
        "description": "**Lee el logo de la empresa.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      },
      "post": {
        "operationId": "post_v1_companies_companyRut_logo",
        "summary": "Subir el logo de la empresa",
        "description": "**Sube el logo de la empresa (configuración de impresión).**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "logo": {
                    "type": "string",
                    "description": "Archivo del logo de la empresa."
                  }
                },
                "required": [
                  "logo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/bo/{boNumber}": {
      "patch": {
        "operationId": "patch_v1_companies_companyRut_bo_boNumber",
        "summary": "Actualizar una sucursal",
        "description": "**Actualiza los datos de contacto de una sucursal: nombre, dirección fiscal, ciudad, departamento y teléfono. **No cambia la URL de callback**: el gateway aplica sólo esos cinco campos y descarta el resto sin avisar, así que mandar `callbackNotificationUrl` responde éxito y no hace nada. Esa se pide a pymo.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "2 Configuración"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "name": "boNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1",
              "default": "1"
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActualizacionSucursal"
              },
              "example": {
                "name": "Sucursal Centro",
                "fiscalAddress": "Calle Falsa 1234",
                "city": "Montevideo",
                "state": "Montevideo",
                "contactNumber": "099123456"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/sendCfes/{branchOffice}": {
      "post": {
        "operationId": "post_v1_companies_companyRut_sendCfes_branchOffice",
        "summary": "Emitir CFEs",
        "description": "**Emite cualquier CFE (el tipo va en el body). Es asíncrono: devuelve un id y NO confirma la aceptación, después hay que consultar el estado. Requiere certificado y CAE del tipo de documento.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "3 Emisión"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "$ref": "#/components/parameters/BranchOffice"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolicitudEmision"
              },
              "example": {
                "111": [
                  {
                    "clientEmissionId": "pedido-2026-000123",
                    "IdDoc": {
                      "MntBruto": "1",
                      "FmaPago": "1"
                    },
                    "Receptor": {
                      "TipoDocRecep": "2",
                      "CodPaisRecep": "UY",
                      "DocRecep": "211234567005",
                      "RznSocRecep": "EMPRESA DE EJEMPLO SA",
                      "DirRecep": "Calle Falsa 1234",
                      "CiudadRecep": "Montevideo",
                      "DeptoRecep": "Montevideo"
                    },
                    "Totales": {
                      "TpoMoneda": "UYU"
                    },
                    "Items": [
                      {
                        "NroLinDet": "1",
                        "IndFact": "1",
                        "NomItem": "Servicio de ejemplo",
                        "Cantidad": 1,
                        "UniMed": "N/A",
                        "PrecioUnitario": 1000,
                        "MontoItem": 1000
                      }
                    ],
                    "adenda": "Texto libre opcional"
                  }
                ],
                "emailsToNotify": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaEmision"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "cfesIds": [
                          {
                            "id": "6a7121a37698d7c0ab3f1b51",
                            "clientEmissionId": "pedido-2026-000123",
                            "serie": "A",
                            "nro": 3503,
                            "type": "111",
                            "caeNumber": 90120000538,
                            "caeSerie": "A",
                            "caeRange": {
                              "first": 1,
                              "last": 999999
                            },
                            "caeExpirationDate": "2030-01-01T00:00:00.000Z",
                            "total": "3050.00",
                            "emitionDate": "2026-08-03T20:17:46.000-03:00",
                            "sentXmlHash": "mghK5nJZkGskjJUkRv8EnG+U8xa1vs1tROJsIqDXBMk=",
                            "securityCode": "mghK5n",
                            "qrUrl": "https://gatewaytest.pymo.uy/consultaQR/cfe?...",
                            "CAEEspecial": null,
                            "CausalCAEEsp": null
                          }
                        ]
                      },
                      "message": {
                        "code": "DGI_CFES_RECEIVE_SUCCESS",
                        "value": "Cfes recibidos correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/createCreditNote": {
      "post": {
        "operationId": "post_v1_companies_companyRut_createCreditNote",
        "summary": "Crear notas de crédito en lote",
        "description": "> 🧪 **Beta.** Endpoint nuevo y en desarrollo: se publica a propósito, pero la forma de la request o de la respuesta puede cambiar antes de estabilizarse.\n\n**Notas de crédito en lote a partir de CFEs referenciados. Sin consumidor real; normalmente las notas van por sendCfes.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nCrea notas de crédito (NC) a partir de CFEs referenciados. El establecimiento (branchOffice) se infiere del CFE referenciado.\nBody: referencedDocuments (CFEs a referenciar), clientEmissionId requerido por documento, opcional items, mntToAffect/pctToAffect, emailsToNotify, phonesToNotify.",
        "tags": [
          "3 Emisión"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolicitudNota"
              },
              "example": {
                "referencedDocuments": [
                  {
                    "clientEmissionId": "nc-2026-000045",
                    "cfeId": "6a7121a37698d7c0ab3f1b51",
                    "pctToAffect": 100
                  }
                ],
                "emailsToNotify": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut",
        "x-status-superficie": "beta"
      }
    },
    "/v1/companies/{companyRut}/createDebitNote": {
      "post": {
        "operationId": "post_v1_companies_companyRut_createDebitNote",
        "summary": "Crear notas de débito en lote",
        "description": "> 🧪 **Beta.** Endpoint nuevo y en desarrollo: se publica a propósito, pero la forma de la request o de la respuesta puede cambiar antes de estabilizarse.\n\n**Notas de débito en lote a partir de CFEs referenciados. Sin consumidor real; usar sendCfes.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nCrea notas de débito (ND) a partir de CFEs referenciados. El establecimiento se infiere del CFE referenciado.\nBody: mismo que createCreditNote (clientEmissionId requerido por documento para evitar duplicados).",
        "tags": [
          "3 Emisión"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SolicitudNota"
              },
              "example": {
                "referencedDocuments": [
                  {
                    "clientEmissionId": "nc-2026-000045",
                    "cfeId": "6a7121a37698d7c0ab3f1b51",
                    "pctToAffect": 100
                  }
                ],
                "emailsToNotify": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut",
        "x-status-superficie": "beta"
      }
    },
    "/v1/companies/{companyRut}/bulkSendCfes/{branchOffice}": {
      "post": {
        "operationId": "post_v1_companies_companyRut_bulkSendCfes_branchOffice",
        "summary": "Emitir CFEs en lote desde un CSV",
        "description": "**Emite muchos CFEs desde un CSV.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "3 Emisión"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "$ref": "#/components/parameters/BranchOffice"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "CSV": {
                    "type": "string",
                    "description": "archivo con los datos de los CFEs"
                  }
                },
                "required": [
                  "CSV"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "DGI_CFES_RECEIVE_SUCCESS",
                        "value": "Cfes recibidos correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/addDetailsBulkSendCfes": {
      "post": {
        "operationId": "post_v1_companies_companyRut_addDetailsBulkSendCfes",
        "summary": "Agregar el detalle a un envío masivo",
        "description": "**Agrega filas a un envío masivo antes de ejecutarlo.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "3 Emisión"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "CSV": {
                    "type": "string",
                    "description": "archivo con el detalle de los CFEs"
                  }
                },
                "required": [
                  "CSV"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/bulkSendCfes": {
      "get": {
        "operationId": "get_v1_companies_companyRut_bulkSendCfes",
        "summary": "Listar los envíos masivos de CFEs",
        "description": "**Lista los envíos masivos.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "3 Emisión"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "DGI_CFES_RECEIVE_SUCCESS",
                        "value": "Cfes recibidos correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/bulkSendCfes/{bulkCfesManagerId}/status": {
      "get": {
        "operationId": "get_v1_companies_companyRut_bulkSendCfes_bulkCfesManagerId_status",
        "summary": "Consultar el estado de un envío masivo",
        "description": "**Consulta el estado de un envío masivo.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "3 Emisión"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "$ref": "#/components/parameters/BulkCfesManagerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "DGI_CFES_RECEIVE_SUCCESS",
                        "value": "Cfes recibidos correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/bulkSendCfes/{bulkCfesManagerId}/originalFile": {
      "get": {
        "operationId": "get_v1_companies_companyRut_bulkSendCfes_bulkCfesManagerId_originalFile",
        "summary": "Descargar el CSV original de un envío masivo",
        "description": "**Descarga el CSV original del envío masivo.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "3 Emisión"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "$ref": "#/components/parameters/BulkCfesManagerId"
          }
        ],
        "responses": {
          "200": {
            "description": "El archivo tal como se subió. El handler usa res.download, así que el tipo depende de la extensión original y no está fijado por el servicio.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/bulkSendCfesByFilter": {
      "get": {
        "operationId": "get_v1_companies_companyRut_bulkSendCfesByFilter",
        "summary": "Listar envíos masivos por filtro",
        "description": "**Consulta resultados de envíos masivos por filtro.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.",
        "tags": [
          "3 Emisión"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "DGI_CFES_RECEIVE_SUCCESS",
                        "value": "Cfes recibidos correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/sentCfes": {
      "get": {
        "operationId": "get_v1_companies_companyRut_sentCfes",
        "summary": "Listar los CFEs emitidos y su estado en DGI",
        "description": "**Lee todos los CFEs emitidos y su estado en DGI (Aceptado/Rechazado). Es la forma normal de resolver el resultado de una emisión.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "4 Estado"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaEstadoCfesEmpresa"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "companySentCfes": []
                      },
                      "message": {
                        "code": "DGI_CFES_RECEIVE_SUCCESS",
                        "value": "Cfes recibidos correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/sentCfes/{branchOffice}": {
      "get": {
        "operationId": "get_v1_companies_companyRut_sentCfes_branchOffice",
        "summary": "Listar los CFEs emitidos de una sucursal",
        "description": "**CFEs emitidos y su estado para una sucursal.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nVer Filtrado para filtrar los resultados.",
        "tags": [
          "4 Estado"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "$ref": "#/components/parameters/BranchOffice"
          },
          {
            "name": "cfeStatus",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Estado principal del CFE [\"CREATED\" | \"SENT\" | \"PROCESSED_ACCEPTED\" | \"PROCESSED_REJECTED\" | \"PROCESSED_RELIQUIDATED (sólo CFC)\" | \"FORMAT_REJECTED\" | \"REPORTED_DAILY_REPORT\" | \"BAD_CUSTOM_SERIE_NUMBER (sólo CFC)\"]."
          }
        ],
        "responses": {
          "200": {
            "description": "Éxito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaEstadoCfes"
                },
                "examples": {
                  "Exito": {
                    "value": {
                      "payload": {
                        "branchOfficeSentCfes": [
                          {
                            "sentXmlHash": "LtUDp87kR4Ypa33uugczq/EkFpM=",
                            "actualCfeStatus": "PROCESSED_ACCEPTED",
                            "cfeHistory": [
                              {
                                "_id": "5a43d0fdd5f9dc275cfc5afa",
                                "createdAt": "2017-12-27T16:57:33.143Z",
                                "cfeStatus": "SCHEDULED"
                              },
                              {
                                "_id": "5a43d118d5f9dc275cfc5afe",
                                "createdAt": "2017-12-27T16:58:00.964Z",
                                "cfeStatus": "SENT"
                              },
                              {
                                "_id": "5a43d11ed5f9dc275cfc5b01",
                                "createdAt": "2017-12-27T16:58:06.433Z",
                                "cfeStatus": "PROCESSED_ACCEPTED"
                              }
                            ],
                            "createdAt": "2017-12-27T16:57:33.142Z",
                            "_id": "5a43d0fdd5f9dc275cfc5af9",
                            "cfe": {
                              "eTck": {
                                "CAEData": {
                                  "FecVenc": "2019-08-23",
                                  "HNro": 1000,
                                  "DNro": 1,
                                  "CAE_ID": 123123123
                                },
                                "Detalle": {
                                  "Item": [
                                    {
                                      "MontoItem": "420",
                                      "PrecioUnitario": "35",
                                      "UniMed": "kg",
                                      "Cantidad": "12",
                                      "NomItem": "Papas",
                                      "IndFact": "1",
                                      "NroLinDet": "1"
                                    }
                                  ]
                                },
                                "Encabezado": {
                                  "Totales": {
                                    "MntPagar": "420",
                                    "CantLinDet": "1",
                                    "MntTotal": "420",
                                    "MntIVATasaBasica": "0",
                                    "MntIVATasaMin": "0",
                                    "IVATasaBasica": "22",
                                    "IVATasaMin": "10",
                                    "MntNetoIVATasaBasica": "0",
                                    "MntNetoIvaTasaMin": "0",
                                    "MntNoGrv": "420",
                                    "TpoMoneda": "UYU"
                                  },
                                  "Receptor": {
                                    "DeptoRecep": "Montevideo",
                                    "CiudadRecep": "Montevideo",
                                    "DirRecep": "18 de Julio 2016",
                                    "RznSocRecep": "Juan Perez",
                                    "DocRecep": "13353214",
                                    "CodPaisRecep": "UY",
                                    "TipoDocRecep": "3"
                                  },
                                  "Emisor": {
                                    "Departamento": "Mozambique",
                                    "Ciudad": "Cerro Largo",
                                    "DomFiscal": "Company address",
                                    "CdgDGISucur": "1",
                                    "RznSoc": "CompanySocialPurpose",
                                    "RUCEmisor": 219999990008
                                  },
                                  "IdDoc": {
                                    "FmaPago": "1",
                                    "FchEmis": "2013-05-11",
                                    "Nro": 8,
                                    "Serie": "A",
                                    "TipoCFE": "101"
                                  }
                                },
                                "TmstFirma": "2017-12-27T13:57:59-03:00"
                              }
                            },
                            "serie": "A",
                            "nro": "8",
                            "cfeType": "101",
                            "MntPagar": "420",
                            "branchOffice": "1",
                            "inCfesData": "5a43d0fdd5f9dc275cfc5af6",
                            "company": "5a3d849be1fb0d35e5c0d691",
                            "__v": 2
                          }
                        ]
                      },
                      "message": {
                        "code": "DGI_CFES_RECEIVE_SUCCESS",
                        "value": "Cfes recibidos correctamente."
                      },
                      "status": "SUCCESS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "FORBIDDEN",
                        "value": "No tiene permisos para realizar esta acción."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          }
        },
        "x-acceso": "restringida-por-rut"
      }
    },
    "/v1/companies/{companyRut}/getDGIReportStatus/{date}": {
      "get": {
        "operationId": "get_v1_companies_companyRut_getDGIReportStatus_date",
        "summary": "Consultar en DGI el estado de los reportes de un día",
        "description": "**Estado en DGI del reporte diario de una fecha.**\n\n**Acceso:** restringida. Requiere sesión, y sólo opera sobre el RUT de tu propia empresa: pedir otro RUT responde `403 FORBIDDEN`.\n\nConsulta a DGI el estado de los reportes de una fecha.",
        "tags": [
          "4 Estado"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyRut"
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2026-08-01",
              "default": "2026-08-01"
            },
            "example": "2026-08-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            }
          },
          "401": {
            "description": "Sesión no iniciada o vencida (`UNAUTHORIZED`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "No_autorizado": {
                    "value": {
                      "payload": {},
                      "message": {
                        "code": "UNAUTHORIZED",
                        "value": "Debe iniciar sesión."
                      },
                      "status": "FAIL"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "La sesión existe pero no alcanza este recurso (`FORBIDDEN`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaError"
                },
                "examples": {
                  "Prohibido": {
                    "value": {
                      "payload": {},
                      "message": {
[...]
